body {
    background-color: rgba(24, 24, 24, .7);
    color: #fff;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

li {
    margin-left: 30px;
    /* padding-left: 100px; */
}

::-webkit-scrollbar {
    display: none;
}